.circle {
    /* position: absolute; */
    /* right: 100px; */
    /* color: white; */
    height: 80px;
    width: 80px;
    margin: 0px;
    border-radius: 50%;
    position: absolute;
    align-self: center;
}

.circle:hover {
  height: 100px;
  width: 100px;
  margin: -10px;
  border-radius: 50%;
  position: absolute;
  align-self: center;
}

.container {
  position: relative;
  text-align: center;
}

.colour1 {
  left: 200px;
  bottom: 200px;
}

.colour2 {
  left: 500px;
  bottom: 300px;
}

.colour3 {
  left: 300px;
  bottom: 500px;
}

.colour4 {
  left: 400px;
  bottom: 400px;
}

.colour5 {
  left: 500px;
  bottom: 500px;
}

.colour6 {
  left: 600px;
  bottom: 300px;
}