.displayActive {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: white;
}

.colour-picker-homepage {
    margin: 10px;
    margin-left: 50px;
}

.flex {
    display: flex;
}

.inbetween {
    justify-content: space-between;
}

.left {
    left: 100px;
}